/* head section style */

header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("resources/Banner Image.png");
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px 140px;
    display: flex;
    align-items: center;
    margin: 50px auto;
}



.head-title {
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 530px 0px 530px;
    margin: 0px 0px 16px 0px;
}

.head-text {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    padding: 0px 344px 177px 344px;
    margin: 0px;
}

.red-color {
    color: red;
    text-align: center;
    font-family: 'Inter';
    font-size: 88px;
    font-weight: 700;
    margin: 120px 608px 48px 608px;
}

.red-des {
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.black-des {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}

.newyearimg {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* third part design */

.third-part {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 135px;
    box-sizing: border-box;
    gap: 40px;

}

.third-part>div {
    max-width: 800px;
}


.thirdhead {
    color: white;
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    margin-bottom: 20px;
}

.thirdpara {
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;

}

.thirdbutton {
    background-color: transparent;
    border: 1px solid white;
}

/* fourth part design */

.four-part {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    align-items: center;
    text-align: center;
    font-size: 32px;
    margin: 50px auto;
    padding-top: 100px;
}

.four-part-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
}

/* portfolio part design */

.portfolio-part {
    width: 1320px;
    height: 500px;
    align-items: center;
    text-align: left;
    margin: 50px auto;
}

#portfolio-header {
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}

#portfolio-title {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

#portfolio-des {
    color: #454545;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.portfolio-img {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

/* subscribe part design*/

.subscribe-part {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    align-items: center;
    text-align: center;
    font-size: 32px;
    margin: 800px auto;
    padding: 80px 100px;
    box-sizing: border-box;
}

.sub-title {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
}

.sub-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
}

.sub-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.sub-button input {
    border: none;
    border-radius: 50px 0px 0px 50px;
    padding: 30px 100px;
    text-align: left;
    padding-left: 30px;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
}

.sub-button button {
    border: none;
    border-radius: 0px 50px 50px 0px;
    background-color: #FF0000;
    padding: 30px 70px;
    color: white;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
}