header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("resources/Banner Image.png");
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px 140px;
    display: flex;
    align-items: center;
    margin: 50px auto;
}



.head-title {
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 530px 0px 530px;
    margin: 0px 0px 16px 0px;
}

.head-text {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    padding: 0px 344px 177px 344px;
    margin: 0px;
}

.red-color {
    color: red;
    text-align: center;
    font-family: 'Inter';
    font-size: 88px;
    font-weight: 700;
    margin: 120px 608px 48px 608px;
}

.red-des {
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.black-des {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}

.newyearimg {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.third-part {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png);
    /* background-size: cover; */
    /* background-position: center; */
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 135px;
    box-sizing: border-box; 
    gap: 40px;

}

.third-part>div {
    max-width: 800px;
}


.thirdhead {
    color: white;
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    margin-bottom: 20px;
}

.thirdpara {
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;

}

.thirdbutton{
    background-color: transparent;
    border: 1px solid white;
}