/* head section style */

header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("resources/Banner Image.png");
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px 140px;
    display: flex;
    align-items: center;
    margin: 50px auto;
}



.head-title {
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400px;
    padding: auto;
    padding-top: 177px;
    margin: 0px 0px 16px 0px;
}

.head-text {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900px;
    padding: 0px 344px 177px 344px;
    margin: 0px;
}

.red-color {
    color: red;
    text-align: center;
    font-family: 'Inter';
    font-size: 88px;
    font-weight: 700px;
    margin: 120px 608px 48px 608px;
}

.red-des {
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 16px;
}

.black-des {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700px;
    margin-top: 0px;
}

.newyearimg {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* third part design */

.third-part {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 65px 135px;
    box-sizing: border-box;
    gap: 40px;

}

.third-part>div {
    max-width: 800px;
}


.thirdhead {
    color: white;
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900px;
    line-height: 88px;
    margin-bottom: 20px;
}

.thirdpara {
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 40px;

}

.thirdbutton {
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700px;
    cursor: pointer;
}

/* fourth part design */

.four-part {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    align-items: center;
    text-align: center;
    font-size: 32px;
    margin: 50px auto;
    padding-top: 100px;
    font-family: 'Inter';
}



.four-part-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
    font-family: 'Inter';
    cursor: pointer;
}

/* fifth part design */
.fifth-part {
    display: flex;
    width: 1320px;
    height: 482px;
    align-items: center;
    text-align: center;
    font-size: 32px;
    margin: 50px auto;
    padding-top: 100px;
}

.round-frame {
    border: 15px red solid;
    border-radius: 50%;
    padding: 50px;
    width: 420px;
    margin-left: 80px;
    margin-right: 100px;
}

.fifth-first-part {
    text-align: left;
    padding-right: 0px;
    margin-left: 0px;
}

.fifth-second-part {
    text-align: left;
    padding-left: 50px;
    margin-right: 50px;
}

.fifth-year {
    color: red;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
}

.fifth-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
}

.fifth-small {
    width: 140px;
    height: 140px;
}

/* sixth part design */

.sixth-part {

    width: 1320px;
    height: 1000px;
    background-image: url('../styles/resources/Rectangle\ 2.png');
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}

.sixth-header {
    color: black;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}

.sixth-middle {
    color: black;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
}

.sixth-dis {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
}

.sixth-text {
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}

.girl-img {
    margin-top: 47px;
    margin-bottom: 245px;
    margin-right: 0px;
    margin-left: 891px;
}

.discount-img {
    position: absolute;
    margin-top: 199px;
    margin-left: 420px;
    margin-bottom: 35px;
}

.gift-img {
    position: absolute;
    width: 550px;
    margin-top: 400px;
    margin-right: 500px;
}


/* portfolio part design */

.portfolio-part {
    width: 1320px;
    height: 500px;
    align-items: center;
    text-align: left;
    margin: 50px auto;
    padding-top: 100px;
}

.portfolio-header {
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500px;
}

.portfolio-title {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900px;
    text-transform: capitalize;
}

.portfolio-des {
    color: #454545;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.portfolio-img {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.portfolio-img img:hover {
    transform: scale(1.08);
}


/* subscribe part design*/

.subscribe-part {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    align-items: center;
    text-align: center;
    font-size: 32px;
    margin: 800px auto;
    padding: 80px 100px;
    box-sizing: border-box;
    margin-bottom: 200px;
}

.sub-title {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900px;
}

.sub-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400px;
}

.sub-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.sub-button input {
    border: none;
    border-radius: 50px 0px 0px 50px;
    padding: 30px 100px;
    text-align: left;
    padding-left: 30px;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400px;
}

.sub-button button {
    border: none;
    border-radius: 0px 50px 50px 0px;
    background-color: #FF0000;
    padding: 30px 70px;
    color: white;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600px;
    cursor: pointer;
}

/* footer section design */
footer {
    background: #070211;
    padding: 120px 140px;
}

.footer-head {
    color: white;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500px;
}

.footer-text {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 120px 140px;
    margin-top: 50px;
}

.footer-logo {
    justify-content: center;
    margin: 48px 680px;
    display: flex;
    gap: 25px;
}

.footer-end {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 120px 140px;
}

.footerbutton {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500px;
    cursor: pointer;
}

#footer-text {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500px;
}